<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>一课表</title>
</head>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
<script src="./jquery.cookie.min.js"></script>
<script src="./HwAuth.js"></script>

<body style="background-color: #F0F0F0;">
    <div id="app" style="display: flex;width: 100%;height: 100%;flex-direction: column;padding: 8px;">
        <p style="font-size: 12px;color: black;opacity: 0.6;margin-bottom: 8px;width: 100%;text-align: center;
        flex-shrink: 0;">温馨提示：请勿清理浏览器数据，否则数据将丢失</p>
        <div style="width: 100%;height: 100%;">
            <div style="width: 50%;flex-direction: column;">
                <!-- 周次栏 -->
                <div style="width: 100%;align-items: center;flex-direction: column;">
                    <p style="font-size: 14px;">第 {{showingWeek}} 周</p>
                    <p style="font-size: 12px;height: 8px;color: #0066ff;transform: scale(0.7);"
                        v-if="realWeek !== -1 && realWeek != showingWeek" v-on:click="toNowWeek" class="clickEffect">
                        本周为第
                        {{realWeek}} 周</p>
                    <div style="height: 8px;" v-else></div>
                </div>
                <!-- 课表 -->
                <div style="width: 100%; height: 100%;border-radius: 8px;overflow: hidden;margin-top: 8px;" class="swiper-container" id="courseView">
                    <div class="swiper-wrapper" style="width: 100%;">
                        <div v-for="page in pages" class="swiper-slide"
                            style="height: 100%;background-color: #FFFFFF;width: 100%;flex-direction: column;">
                            <!-- 星期栏 -->
                            <div style="height: 44px;flex-shrink: 0;width: 100%;background-color: #80808010;align-items: center;"
                                v-bind:style="{'padding-left': timeBarWidth}">
                                <div v-for="ws in page.weekdayShow" style="width: 100%;flex-direction: column;align-items: center;">
                                    <p style="font-size: 12px;transform: scale(0.8);height: 12px;flex-shrink: 0;">
                                        {{ws.text}}</p>
                                    <p style="font-size: 12px;transform: scale(0.6);height: 12px;flex-shrink: 0;">
                                        {{ws.day}}
                                    </p>
                                    <div style="background-color: #0066ff;border-radius: 8px;width: 60%;height: 3px;flex-shrink: 0;margin-top: 2px;"
                                        v-if="ws.day === today">
                                    </div>
                                    <div v-else style="height: 3px;margin-top: 2px;flex-shrink: 0;"></div>
                                </div>
                            </div>
                            <div style="flex-grow: 1;width: 100%;position: relative;">
                                <!-- 时间线 -->
                                <div style="display: grid;width: 100%;height: 100%;position: absolute;
                                                            grid-template-columns: 1fr"
                                    v-bind:style="{'grid-template-rows': 'repeat(' + rowNum + ', 1fr)'}">
                                    <div style="background-color: #0066ff10;width: 100%;height: 100%;"
                                        v-bind:style="{'grid-area': `${nBlock.sb} / 1 / ${nBlock.eb} / 1`}">
                                    </div>
                                </div>
                                <!-- 星期线 -->
                                <div v-if="realWeek === page.week" style="display: grid;width: 100%;height: 100%;position: absolute;
                                                                                        grid-template-rows: 1fr"
                                    v-bind:style="{'grid-template-columns': `${timeBarWidth} repeat(7, 1fr)`}">
                                    <div style="background-color: #0066ff10;width: 100%;height: 100%;"
                                        v-bind:style="{'grid-area': `1 / ${weekdayLine+1} / 1 / ${weekdayLine+1}`}">
                                    </div>
                                </div>
                                <!-- 时间 -->
                                <div style="display: grid;width: 100%;height: 100%;position: absolute;" v-bind:style="{'grid-template-rows': 'repeat(' + rowNum + ', 1fr)',
                                                    'grid-template-columns': `1fr`}">
                                    <div v-for="ts in timesShow" style="align-items: center;"
                                        v-bind:style="{'grid-area': `${ts.s} / 1 / ${ts.e} / 1`, 'background-color': ts.color}">
                                        <p style="white-space: pre-line;width: 50px;text-align: center;font-size: 12px;">
                                            {{ts.text}}</p>
                                    </div>
                                </div>
                                <!-- 悬浮加号 -->
                                <div style="display: grid;width: 100%;height: 100%;position: absolute;"
                                    v-bind:style="{'grid-template-rows': 'repeat(' + rowNum + ', 1fr)','grid-template-columns': `${timeBarWidth} repeat(7, 1fr)`}">
                                    <div v-if="addFloatShow" style="width: 100%;height: 100%;padding: 2px;"
                                        v-bind:style="{'grid-area': floatArea}">
                                        <div
                                            style="width: 100%;height: 100%;border-radius: 8px;background-color: #0066ff30;align-items: center;justify-content: center;">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                width="24" height="24" style="width: 50%;aspect-ratio: 1;" viewBox="0 0 24 24"
                                                version="1.1">
                                                <path fill="#000000"
                                                    d="M12.75,21.25 C12.75,21.6642136 12.4142136,22 12,22 C11.5857864,22 11.25,21.6642136 11.25,21.25 L11.25,12.75 L2.75,12.75 C2.33578644,12.75 2,12.4142136 2,12 C2,11.5857864 2.33578644,11.25 2.75,11.25 L11.25,11.25 L11.25,2.75 C11.25,2.33578644 11.5857864,2 12,2 C12.4142136,2 12.75,2.33578644 12.75,2.75 L12.75,21.25 Z M21.25,11.25 C21.6642136,11.25 22,11.5857864 22,12 C22,12.4142136 21.6642136,12.75 21.25,12.75 L13.75,12.75 L13.75,11.25 L21.25,11.25 Z"
                                                    id="_path-1" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <!-- 课表内容 -->
                                <div style="display: grid;width: 100%;height: 100%;position: absolute;"
                                    v-bind:style="{'grid-template-rows': 'repeat(' + rowNum + ', 1fr)',
                                                                                'grid-template-columns': `${timeBarWidth} repeat(7, 1fr)`}" v-on:mousedown="touchSurfaceStart"
                                    v-on:mousemove="touchSurfaceMove" v-on:mouseup="touchSurfaceEnd">
                                    <div v-for="c in page.courses" style="width: 100%;height: 100%;padding: 2px;"
                                        v-on:click="itemClick(c.realDay, c.p, $event)" v-show="showing"
                                        v-bind:style="{'grid-area': `${c.sb+1} / ${c.day+1} / ${c.eb+1} / ${c.day+1}`}">
                                        <div style="width: 100%;height: 100%;border-radius: 8px;padding: 4px;flex-direction: column;"
                                            class="clickEffect" v-bind:style="{'background-color': c.color}">
                                            <p style="font-size: 12px;transform: scale(0.8);width: 100%;text-align: center;text-overflow: ellipsis;max-lines: 1;flex-shrink: 0;"
                                                v-bind:style="{'color': c.textDark}">{{c.teacher}}</p>
                                            <div style="font-size: 12px;flex-grow: 1;text-align: center;align-items: center;justify-content: center;"
                                                v-bind:style="{'color': c.textDark}"><span>{{c.name}}</span></div>
                                            <p style="font-size: 12px;transform: scale(0.8);width: 100%;text-align: center;text-overflow: ellipsis;max-lines: 3;flex-shrink: 0;"
                                                v-bind:style="{'color': c.textDark}">{{c.place}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 8px;flex-shrink: 0;"></div>
            <div style="width: 50%;flex-direction: column;">
                <div style="flex-shrink: 0;width: 100%;">
                    <!-- 课表选择 -->
                    <div style="align-items: center;padding: 6px 16px;border-radius: 30px;background-color: #FFFFFF;width: fit-content;flex-shrink: 0;"
                        class="clickEffect" v-on:click="openChooseTable">
                        <p style="color: black;font-size: 14px;user-select: none;">{{courseName}}</p>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24"
                            height="24" viewBox="0 0 24 12" version="1.1">
                            <defs>
                                <path
                                    d="M18.6239478,4.2482689 L13.6439396,9.23007755 C12.97476,9.8992572 11.8984674,9.91319844 11.2123247,9.27190128 L6.21931844,4.28033009 C6.09044543,4.15145707 6.01827654,3.98735263 6.00281177,3.81902041 L6,3.7269699 C6.00562355,3.54277571 6.0787297,3.36025866 6.21931844,3.21966991 C6.50175119,2.93723717 6.95339796,2.92715028 7.24791742,3.18940926 L11.8761727,7.81586399 C12.1586054,8.09829674 12.6102522,8.10838362 12.9047717,7.84612464 L17.5330269,3.21966991 C17.8259202,2.9267767 18.3007939,2.9267767 18.5936871,3.21966991 C18.7349035,3.36088629 18.8080334,3.54440617 18.8130768,3.72943689 L18.8129192,3.77570243 C18.8071403,3.94528507 18.7441498,4.11328081 18.6239478,4.2482689 Z"
                                    id="_path-1" />
                            </defs>
                            <g id="_画板" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <mask id="_mask-2" fill="white">
                                    <use xlink:href="#_path-1" />
                                </mask>
                                <use id="_路径" fill="#000000" fill-rule="nonzero" xlink:href="#_path-1" />
                            </g>
                        </svg>
                    </div>
                    <div style="flex-grow: 1;min-width: 8px;flex-shrink: 0;"></div>
                    <!-- 华为登录按钮 -->
                    <div style="padding: 6px 16px;background-color: red;color: white;border-radius: 30px;font-size: 14px;align-items: center;justify-content: center;"
                    class="clickEffect"
                    v-on:click="loadFromCloud">从云备份中获取</div>
                    <div style="width: 8px;flex-shrink: 0;"></div>
                    <div style="padding: 6px 16px;background-color: red;color: white;border-radius: 30px;font-size: 14px;align-items: center;justify-content: center;"
                        class="clickEffect" v-on:click="uploadToCloud">上传至云备份</div>
                </div>
                <div style="margin-top: 8px;width: 100%; height: 160px;padding: 16px;border-radius: 16px;background-color: #FFFFFF;overflow-x: hidden;overflow-y: auto;transition: height 300ms;flex-direction: column;"
                v-bind:style="{'height': showItems ? '160px' : '0'}">
                    <div v-for="item in selectItems" style="margin: 4px 0;border-radius: 8px;padding: 8px;align-items: center;width: 100%;background-color: #80808010;" class="clickEffect"
                    v-on:click="chooseItem(item)">
                        <p style="font-size: 12px;flex-grow: 1;text-overflow: ellipsis;">{{item.text}}</p>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="width: 16px; aspect-ratio: 1;" v-on:click="deleteItem(item, $event)"
                            viewBox="0 0 24 24" version="1.1">
                            <path
                                d="M19.7781746,4.22182541 C20.0710678,4.51471863 20.0710678,4.98959236 19.7781746,5.28248558 L5.28248558,19.7781746 C4.98959236,20.0710678 4.51471863,20.0710678 4.22182541,19.7781746 C3.92893219,19.4852814 3.92893219,19.0104076 4.22182541,18.7175144 L10.9395166,11.9994697 L4.22182541,5.28248558 C3.92893219,4.98959236 3.92893219,4.51471863 4.22182541,4.22182541 C4.51471863,3.92893219 4.98959236,3.92893219 5.28248558,4.22182541 L12,10.9389863 L18.7175144,4.22182541 C19.0104076,3.92893219 19.4852814,3.92893219 19.7781746,4.22182541 Z M19.7781746,18.7175144 C20.0710678,19.0104076 20.0710678,19.4852814 19.7781746,19.7781746 C19.4852814,20.0710678 19.0104076,20.0710678 18.7175144,19.7781746 L12.7072836,13.7675902 L13.767767,12.7071068 L19.7781746,18.7175144 Z"
                                fill="black" />
                        </svg>
                    </div>
                </div>
                <div style="margin-top: 8px;width: 100%;flex-grow: 1;padding: 16px;border-radius: 16px;background-color: #FFFFFF;">

                </div>
            </div>
        </div>

        <dialog id="selectTable"
            style="background-color: #FFFFFF;outline: none;border: none;padding: 16px;border-radius: 16px;box-shadow: 4px 4px 10px 0 #00000030;">
            <div style="width: 500px;max-width: 300px;height: 200px;flex-direction: column;">
                <p style="font-size: 16px;width: 100%;margin-bottom: 8px;flex-shrink: 0;text-align: center;">请选择课程表</p>
                <div style="flex-grow: 1;width: 100%;flex-direction: column;overflow-y: auto;overflow-x: hidden;">
                    <div v-for="name in courseNames" class="clickEffect"
                        style="width: 100%;padding: 12px 16px;align-items: center;justify-content: center;margin: 4px 0;background-color: #80808020;border-radius: 30px;font-size: 16px;"
                        v-on:click="selectTable(name)">{{name}}
                    </div>
                </div>
                <div class="clickEffect"
                    style="border-radius: 30px;background-color: #dd0000;color: white;padding: 12px 16px;border: none;text-align: center;width: 100%;align-items: center;justify-content: center;flex-shrink: 0;font-size: 16px;"
                    v-on:click="closeSelectTable">取消</div>
            </div>
        </dialog>
    </div>
</body>
<script type="module">
    import * as utils from './utils.js'
    import { TimeTable } from './TimeTable.js'
    import { TimeCombine } from './TimeCombine.js'
    import { SwiperManager } from './Swiper.js'
    var loadTime = TimeTable.buildSimple(['00:50', '08:00', '09:00', '10:00', '11:00', '12:00', '14:00', '15:00', '16:00', '17:00', '18:00', '20:00', '21:00', '22:00'])
    var timeCombine = TimeCombine.defaultTimeCombine()

    var storage = utils.getStorage({
        priority: ['indexeddb'],
        name: 'Course'
    })
    var set_storage = utils.getStorage({
        priority: ['indexeddb'],
        name: 'Set'
    })

    var dayToCol = [0, 1, 2, 3, 4, 5, 6]
    var swiperManager = null
    var touchParam = null
    var touchingTimer = null
    var vm = new Vue({
        el: '#app',
        data: {
            courseNames: [],
            courseName: null,
            rowNum: 100,
            timesShow: [],
            weekday: 0,
            courses: [],
            pages: [],
            timeBarWidth: '50px',
            showingWeek: 1,
            realWeek: 1,
            swiper: null,
            startDate: new Date(),
            today: utils.formatDate(new Date()),
            nBlock: {
                sb: 1,
                eb: 10
            },
            addFloatShow: false,
            floatArea: '',
            showing: true,
            showItems: false,
            selectItems: [],
            startForSunday: false,
            weekdayLine: 0
        },
        async created() {
            setTimeout(() => {
                let self = this
                self.swiper = new Swiper('.swiper-container', {
                    loop: true,
                    onSlideChangeEnd(swiper) {
                        let nowIndex = swiper.realIndex
                        let a = swiper.activeIndex
                        let p = swiper.previousIndex
                        if (Math.abs(a - p) == 1) {
                            self.weekChange(nowIndex)
                        }
                    }
                })
            }, 100)

            this.getRowNum()
            this.buildTimeShow()
            this.getNowBlock()
            await this.readCourseName()
            console.log(this.courseName)
            if (this.courseName == null) {
                return;
            }
            await this.readCourse()
            console.log(this.courses)
            this.loadCourse()
        },
        methods: {
            getRowNum() {
                let rn = 0
                for (let i = 0; i < loadTime.getBlockLength(); i++) {
                    let l = utils.time2num(loadTime.getLast(i + 1))
                    console.log(l)
                    rn += l
                }
                this.rowNum = ((rn / 5) | 0)
            },
            getNowBlock() {
                let n = new Date()
                n = n.getHours() + n.getMinutes() / 60
                let i = 1;
                while (i < loadTime.getBlockLength() && n > loadTime.getStartV(i) + loadTime.getLastV(i)) {
                    i++
                }
                console.log('nblock', i)
                if (i > loadTime.getBlockLength() + 1) {
                    this.nBlock = null
                } else {
                    let s = loadTime.countBlock(i) + 1
                    let e = loadTime.countBlockAtEnd(i) + 1
                    this.nBlock = {
                        sb: s,
                        eb: e
                    }
                }
            },
            RefreshWeek(idx) {
                console.log('init:' + idx)
                let res = {
                    weekdayShow: [],
                    courses: []
                }
                res.weekdayShow = this.buildWeekdayShow(idx)
                res.courses = this.GetBlockCourse(idx)
                res.week = idx
                console.log(res)
                return res
            },
            GetBlockCourse(week) {
                let weekShow = new Array(7)
                for (let i = 0; i < 7; i++) {
                    weekShow[i] = new Array(loadTime.getBlockLength())
                }

                let res = []
                const blockHeight = $('#courseView').height() / (this.rowNum);

                this.courses.courses.forEach((day, idx) => {
                    if (dayToCol[idx] == -1) return;
                    day.forEach((item, p) => {
                        let thisWeekOn = week == 0 || utils.CheckWeek(week, item.week)
                        let nextWeekOn = utils.CheckWeek(week + 1, item.week)
                        if (!thisWeekOn && (!nextWeekOn || !this.showNextWeek)) return;
                        let s = utils.time2num_float(item.s)
                        let l = utils.time2num_float(item.l)
                        let c = {
                            ...item, ...{
                                s: s, l: l
                            }
                        }
                        let blockRate = [], len = loadTime.getBlockLength() + 1
                        for (let i = 1; i < len; i++) {
                            let s_ = Math.max(s, loadTime.getStartV(i))
                            let e_ = Math.min(s + l, loadTime.getStartV(i) + loadTime.getLastV(i))
                            blockRate.push((e_ - s_) / loadTime.getLastV(i))
                        }
                        if (blockRate.length == 0) return;
                        blockRate.forEach((rate, i) => {
                            if (rate >= 0.5) {
                                if (weekShow[idx][i] == undefined || weekShow[idx][i] == null) {
                                    weekShow[idx][i] = {
                                        s: i,
                                        l: 1,
                                        name: [],
                                        fakeName: [],
                                        items: [],
                                        fakeItems: [],
                                        p: [],
                                        fakeP: [],
                                        teachers: [],
                                        fakeTeachers: [],
                                        places: [],
                                        fakePlaces: [],
                                        color: c.color == undefined ? '#0066ff' : c.color,
                                        textDark: c.textDark ? '#101010' : '#ffffff'
                                    }
                                }
                                let t = weekShow[idx][i]
                                //                        console.error(JSON.stringify(t))
                                if (thisWeekOn) {
                                    c.notThisWeek = false
                                    t.name.push(c.name)
                                    t.items.push(c)
                                    t.p.push(p)
                                    if (c.teacher != undefined && c.teacher != '') t.teachers.push(c.teacher)
                                    if (c.place != undefined && c.place != '') t.places.push(c.place)
                                } else {
                                    c.notThisWeek = true
                                    t.fakeName.push(c.name)
                                    t.fakeItems.push(c)
                                    t.fakeP.push(p)
                                    if (c.teacher != undefined && c.teacher != '') t.fakeTeachers.push(c.teacher)
                                    if (c.place != undefined && c.place != '') t.fakePlaces.push(c.place)
                                }
                            }
                        })
                    })
                    for (let i = loadTime.getBlockLength(); i >= 0; i--) {
                        let cb = weekShow[idx][i]
                        if (cb != undefined && cb != null && cb.p.length !== 0) {
                            cb.fakeP = []
                        }
                    }

                    for (let i = loadTime.getBlockLength(); i >= 0; i--) {
                        let cb = weekShow[idx][i]
                        if (cb == undefined || cb == null) weekShow[idx].splice(i, 1)
                        else {
                            if (i > 0 && weekShow[idx][i - 1] && cb.p.join(' ') + cb.fakeP.join(' ') ===
                                weekShow[idx][i - 1].p.join(' ') + weekShow[idx][i - 1].fakeP.join(' ')) {
                                weekShow[idx][i - 1].l += cb.l
                                weekShow[idx].splice(i, 1)
                                continue
                            }
                            cb.sb = loadTime.countBlock(cb.s + 1)
                            cb.eb = loadTime.countBlockAtEnd(cb.s + cb.l)
                            let l = cb.eb - cb.sb
                            if (cb.name.length === 0) {
                                cb.name = cb.fakeName
                                cb.items = cb.fakeItems
                                cb.p = cb.fakeP
                                cb.teachers = cb.fakeTeachers
                                cb.places = cb.fakePlaces
                                cb.color = '#C0808080'
                                cb.textDark = '#d0d0d0'
                            }
                            cb.name = cb.name.join(' && ')
                            cb.teachers = cb.teachers.join(',')
                            cb.places = cb.places.join(',')
                            if (this.concatPlace && this.showPlace && cb.places !== '') {
                                cb.name += '●' + cb.places
                            }
                            cb.sT = this.showTeacher && cb.teachers !== ''
                            cb.sP = this.showPlace && !this.concatPlace && cb.places !== ''
                            cb.realDay = idx
                            cb.day = dayToCol[idx] + 1
                            if (l * blockHeight < 15) {
                                cb.name = '...'
                            }
                            res.push(cb)
                        }
                    }
                })

                return res
            },
            buildTimeShow() {
                let ts = []
                let rs = 1
                for (let i = 0; i < loadTime.getBlockLength(); i++) {
                    let time = loadTime.getStart(i + 1)
                    let s = utils.time2num(time)
                    let l = (utils.time2num(loadTime.getLast(i + 1)) / 5) | 0
                    ts.push({
                        text: (i + 1) + '\n' + time + '\n' + utils.num2time(s + l * 5),
                        s: rs,
                        e: rs + l,
                        color: i % 2 === 0 ? '#00000000' : '#80808010'
                    })
                    rs += l
                }
                console.log(ts)
                this.timesShow = ts
            },
            buildWeekdayShow(week) {
                let n = new Date(this.startDate.getTime())
                n.setDate(n.getDate() + (week - 1) * 7)
                let ws = []
                for (let i = 0; i < 7; i++) {
                    ws.push({
                        text: utils.wcn[this.startForSunday ? (i == 0 ? 6 : i - 1) : i],
                        day: utils.fill(n.getMonth() + 1) + '/' + utils.fill(n.getDate())
                    })
                    n.setDate(n.getDate() + 1)
                }
                return ws
            },
            async readCourseName() {
                return new Promise(resolve => {
                    set_storage.get('nCourse').then(data => {
                        if (data.nCourse == undefined) {
                            storage.keys().then(keys => {
                                if (keys.length == 0) {
                                    alert('没有课程表')
                                    this.courseName = null
                                } else {
                                    this.courseName = keys[0]
                                    set_storage.set('nCourse', this.courseName)
                                }
                            })
                        } else {
                            this.courseName = data.nCourse
                        }
                        resolve()
                    })
                })
            },
            async readCourse() {
                return new Promise(resolve => {
                    if (this.courseName == null) {
                        resolve()
                        return;
                    }
                    storage.get(this.courseName).then(async data => {
                        console.log(data)
                        if (data[this.courseName] == undefined) {
                            await set_storage.del('nCourse')
                            await this.readCourseName()
                            await this.readCourse()
                            resolve()
                        } else {
                            this.courses = JSON.parse(utils.getDecode(data[this.courseName]))
                            resolve()
                        }
                    })
                })
            },
            weekChange(nowIndex) {
                console.log(nowIndex)
                this.addFloatShow = false
                let o = swiperManager.current[1]
                let n = nowIndex
                if (o == n) return;
                let t = n - o
                if (t < 0) t += swiperManager.getCacheSize()
                let nt = new Date().getTime()
                if (t == 1) // scroll right
                {
                    if (swiperManager.scrollRight()) this.pages.push()
                }
                else if (t == swiperManager.getCacheSize() - 1) // scroll left
                {
                    if (swiperManager.scrollLeft()) this.pages.push()
                }
                swiperManager.printCurrent()
                this.showingWeek = swiperManager.current[0]
                // this.RefreshNowTime()
                this.$nextTick(() => {
                    this.swiper.update()
                    this.swiper.reLoop()
                })

                console.log('load...' + (new Date().getTime() - nt))
            },
            loadCourse() {
                this.startDate = utils.parseDate(this.courses.start)
                this.startForSunday = this.startDate.getDay() == 0
                if (this.startForSunday) {
                    dayToCol = [1, 2, 3, 4, 5, 6, 0]
                } else {
                    dayToCol = [0, 1, 2, 3, 4, 5, 6]
                }
                let n = new Date()
                let weekday = n.getDay()
                weekday = weekday == 0 ? 6 : weekday - 1
                this.weekday = weekday
                this.weekdayLine = this.startForSunday ? (weekday == 6 ? 0 : weekday + 1) + 1 : weekday + 1
                n.setDate(n.getDate() - (this.startForSunday ? (weekday == 6 ? 0 : weekday + 1) : weekday ))
                let betDay = (n.getTime() - this.startDate.getTime()) / 1000 / 60 / 60 / 24
                this.realWeek = ((betDay / 7) | 0) + 1
                if (this.realWeek < 0) {
                    this.realWeek = -1
                }
                this.showingWeek = this.realWeek == -1 ? 1 : this.realWeek
                if (swiperManager == null) {
                    swiperManager = new SwiperManager({
                        cacheSize: 3,
                        buffer: this.pages,
                        buildData: this.RefreshWeek
                    })
                    console.info('init swiper')
                    swiperManager.init(this.showingWeek)
                } else {
                    swiperManager.setBuffer(this.pages)
                    swiperManager.init(this.showingWeek)
                }
            },
            toNowWeek() {
                this.addFloatShow = false
                let swiperView = $('#courseView')
                swiperView.fadeOut(300, () => {
                    this.showingWeek = this.realWeek
                    swiperManager.scrollTo(this.realWeek, true)
                    swiperView.fadeIn(300)
                })
            },
            touchSurfaceStart(e) {
                let x = e.offsetX, y = e.offsetY
                let w = e.target.clientWidth, h = e.target.clientHeight
                let bh = h / this.rowNum
                if (x < utils.px2num(this.timeBarWidth)) return;
                let day = ((x - utils.px2num(this.timeBarWidth)) * 7 / (w - utils.px2num(this.timeBarWidth))) | 0
                let block = 1
                while (block + 1 < loadTime.getBlockLength() + 1 && y > loadTime.countBlock(block + 1) * bh) {
                    block++
                }
                touchParam = {
                    day: day,
                    sBlock: block,
                    eBlock: block,
                    x: x, y: y
                }
                let u = Math.min(touchParam.sBlock, touchParam.eBlock)
                let d = Math.max(touchParam.sBlock, touchParam.eBlock)
                this.floatArea = `${loadTime.countBlock(u) + 1} / ${touchParam.day + 2} / ${loadTime.countBlockAtEnd(d) + 1} / ${touchParam.day + 2}`

                this.addFloatShow = false
                touchingTimer = setTimeout(() => {
                    touchingTimer = null
                    this.addFloatShow = true
                    this.showing = false
                    this.swiper.disableTouchControl()
                }, 300)
            },
            touchSurfaceMove(e) {
                if (touchParam == null) return;
                let x = e.offsetX, y = e.offsetY
                let w = e.target.clientWidth, h = e.target.clientHeight
                let bh = h / this.rowNum
                let day = ((x - utils.px2num(this.timeBarWidth)) * 7 / (w - utils.px2num(this.timeBarWidth))) | 0
                let dist = Math.sqrt((x - touchParam.x) ** 2 + (y - touchParam.y) ** 2)
                if (touchingTimer != null && dist > 3) {
                    clearTimeout(touchingTimer)
                    touchingTimer = null
                    this.swiper.enableTouchControl()
                    this.showing = true
                    return;
                }
                let block = 1
                while (block + 1 < loadTime.getBlockLength() + 1 && y > loadTime.countBlock(block + 1) * bh) {
                    block++
                }
                touchParam.eBlock = block
                let u = Math.min(touchParam.sBlock, touchParam.eBlock)
                let d = Math.max(touchParam.sBlock, touchParam.eBlock)
                this.floatArea = `${loadTime.countBlock(u) + 1} / ${touchParam.day + 2} / ${loadTime.countBlockAtEnd(d) + 1} / ${touchParam.day + 2}`
            },
            touchSurfaceEnd(e) {
                touchParam = null
                if (touchingTimer != null) {
                    clearInterval(touchingTimer)
                    touchingTimer = null
                    this.swiper.enableTouchControl()
                }
                this.showing = true
            },
            itemClick(day, p, e) {
                e.stopPropagation()
                let dayCourse = this.courses.courses[day]
                let items = p.map(v => {
                    let course = dayCourse[v]
                    let arr = [course.name]
                    arr.push(course.s + '-' + utils.num2time(utils.time2num(course.s) + utils.time2num(course.l)))
                    if (course.teacher) arr.push(course.teacher)
                    if (course.place) arr.push(course.place)
                    if (course.week && course.week.length != 0) arr.push(course.week.join(','))
                    return {
                        text: arr.join(' '),
                        day: day - 1,
                        p: v
                    }
                })
                console.log(items)
                this.selectItems = items
                this.showItems = true
            },
            closeSelectTable() {
                console.log('closeDialog')
                document.getElementById('selectTable').close()
            },
            openChooseTable() {
                storage.keys().then(keys => {
                    this.courseNames = keys
                    $('#selectTable')[0].showModal()
                })
            },
            async selectTable(name) {
                this.closeSelectTable()
                this.courseName = name
                await this.readCourse()
                if (this.courseName == null) {
                    return;
                }
                this.loadCourse()
                set_storage.set('nCourse', name)
            },
            chooseItem(item) {
                alert('功能还不支持')
            },
            deleteItem(item, e) {
                e.stopPropagation()
                alert('功能还不支持')
            },
            loadFromCloud() {
                checkCloud(true, res => {
                    if (res.code == 0) {
                        console.log('success')
                    } else {
                        alert(res.error)
                    }
                })
            },
            uploadToCloud() {

            }
        }
    })
</script>

<style>
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
    }
    ::-webkit-scrollbar{display: none;}

    div,
    button {
        display: flex;
        box-sizing: border-box;
        user-select: none;
    }

    p {
        padding: 0;
        margin: 0;
    }

    .select {
        transition-duration: 200ms;
        transition-timing-function: ease-in;
    }

    .select:hover {
        transform: scale(0.95);
    }

    .select:active {
        transform: scale(0.9);
    }

    .swiper {
        width: 100%;
        height: 300px;
    }

    .clickEffect {
        transition: transform 300ms;
    }

    .clickEffect:active {
        transform: scale(0.9);
    }
</style>

</html>